extends layout

block content
    h1= title
    p 欢迎使用 #{title}

    h2 部署工具
    div(class="deploy")
        div(class="row")
            include partails/deploy_info

        div(class="row")
            input(
                type="button"
                class="button-sm button-create" value="新建"
            )

            input(
                type="button"
                class="button-sm button-rebuild" value="重新部署"
            )
    
    h2 上传工具
    div(class="upload")
        div(class="row")
            label 选择部署平台
            select(name="platform" class="platform")
                option(value="app-site") PC(app-site)
                option(value="app-crm") CRM(app-crm)
                option(value="app-platform") BOSS(app-platform)
                option(value="app-bureau") 生态圈(app-bureau)
                option(value="retrx-mgt") 交易(retrx-mgt)

        div(class="row")
            input(
                type="button"
                class="button-sm button-upload" value="上传"
            )

    h2 部署列表
    div(class="deployment-list")
    